/*message list*/
.message-list{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: solid;
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-end;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 5px rgb(0, 0, 0);
  
    overflow: hidden;

}
.divider__wrapper{
    width: 100%;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.message__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.own-message__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*message input*/
.message-input{
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 4px rgb(0, 0, 0);
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 50px;
}
.message-input-text{
    flex: 9;
    border: none;
}
.message-input-button{
    flex: 1;
}