.header{
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-top: 10px !important;
    border:solid 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    
}

.header-block{
    font-size: 20px;
    padding: 15px;
}
.header-last-message-date{
    color: dimgrey;
    font-size: 10px;
    align-self: flex-end;
}
.header-last-message-date__span{
    color: black;
    
}
.header-title{
    font-size: 30px;
    font-weight: bold;
}
.header-users-count{
    margin-left: auto;
    font-size: 15px;
    align-self: flex-end;
}
.header-messages-count{
    font-size: 15px;
    align-self: flex-end;
}
