.message{
    margin-bottom: 10px;
    margin-left: 5px;
    border: solid;
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 80%;
    border-radius: 230px 15px 180px 15px/15px 180px 15px 230px;
    border:solid 1px rgb(0, 0, 0);
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.349);
}
.message-like{
    border: none;
    background: none;
}
.image-cropper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
.message-user-avatar{
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}
.message-text{
    margin-left: 10px;
    margin-right: 10px;
}
.time__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.message-time{
    font-size: 10px;
}

.message-user-name{
    font-size: 11px;
}
.info__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.message-liked{
    color: red;
    border: none;
    background: none;
}
/* own message */
.own-message{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    margin-bottom: 10px;
    border-radius: 230px 15px 180px 15px/15px 180px 15px 230px;
    border:solid 1px rgb(0, 0, 0);
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.349);
}


.message-edit{
    border: none;
    background: none;
}
.message-delete{
    border: none;
    background: none;
}